body{
margin:0;
font-family:Segoe UI;
background:black;
color:white;
background-image:url(picture/t6.jpeg) ;
background-size: cover;
}

/* NAVBAR */

.navbar{
background:#111;
padding:15px 40px;
display:flex;
justify-content:space-between;
align-items:center;
}

.logo {
  display: flex;
  align-items: center;
  gap: 8px;              /* space between icon and text */
  font-size: 28px;
  font-weight: 900;
  color: #c084fc;
  text-decoration: none;
}

/* LOGO ICON */
.logo-icon {
  width: 36px;           /* perfect size */
  height: 36px;
  border-radius: 8px;    /* slight rounded corners */
  box-shadow: 0 0 15px rgba(192,132,252,0.6);  /* purple glow */
  transition: 0.3s;
}

.logo:hover .logo-icon {
  transform: scale(1.1); /* hover zoom */
  box-shadow: 0 0 25px rgba(192,132,252,0.9);
}

/* Text glow (from previous) */
.logo {
  text-shadow: 
    0 0 10px rgba(192,132,252,0.8),
    0 2px 8px rgba(0,0,0,0.8);
}



.logout-btn{
background:#9333ea;
border:none;
padding:8px 18px;
color:white;
border-radius:20px;
cursor:pointer;
transition:0.3s;
}

.logout-btn:hover{
background:#7e22ce;
}

/* DASHBOARD */

.dashboard{
padding:40px;
text-align:center;
}

.cards{
margin-top:75px;
display:grid;
grid-template-columns:repeat(auto-fit,minmax(220px,1fr));
gap:25px;
}

/* CARD */

.card{
background:#111;
padding:30px;
border-radius:10px;
transition:0.3s;
text-decoration:none;
color:white;
display:block;
}

.card:hover{
transform:translateY(-8px);
box-shadow:0 0 15px #9333ea;
}

.nav-buttons{
display:flex;
gap:15px;
align-items:center;
}

.nav-btn{

text-decoration:none;

background:#9333ea;

color:white;

padding:8px 16px;

border-radius:20px;

font-size:14px;

transition:0.3s;

}

.nav-btn:hover{

background:#7e22ce;
transform:scale(1.05);

}