body{
margin:0;
font-family:Segoe UI;
background:black;
color:white;
}

/* NAVBAR */

.navbar{
background:#111;
padding:15px 40px;
display:flex;
justify-content:space-between;
align-items:center;
}

.logo{
color:#c084fc;
font-size:24px;
font-weight:bold;
}

.logout-btn{
background:#9333ea;
border:none;
padding:8px 18px;
color:white;
border-radius:20px;
cursor:pointer;
transition:0.3s;
}

.logout-btn:hover{
background:#7e22ce;
}

/* DASHBOARD */

.dashboard{
padding:40px;
text-align:center;
}

.cards{
margin-top:40px;
display:grid;
grid-template-columns:repeat(auto-fit,minmax(220px,1fr));
gap:25px;
}

/* CARD */

.card{
background:#111;
padding:30px;
border-radius:10px;
transition:0.3s;
text-decoration:none;
color:white;
display:block;
}

.card:hover{
transform:translateY(-8px);
box-shadow:0 0 15px #9333ea;
}